body {
    padding-left: 80px;
    padding-right: 80px;

    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 251, 214);
}

.pokemon-logo{
   padding-top: 40px;
   padding-bottom: 0px;
   width: 300px;
   display: block;
   margin: 0 auto;    

}

.pokemon-image{
    width: 100px;
    padding: 0px;
    border: solid 1px rgba(168, 168, 168, 0.333);
    border-radius: 40px;
    box-shadow: 3px 3px 6px #e4d69963;
    margin: 3px;
    background-color: rgba(255, 255, 255, 0.26);

}

.myDiv{
    display: inline-block;
    width: 120px;
    padding: 10px;
}

.random-pokemon{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 120px;
    padding: 0px;
    border: solid 1px rgba(168, 168, 168, 0.333);
    border-radius: 42px;
    box-shadow: 3px 3px 6px #e4d69963;
    background-color: rgba(255, 255, 255, 0.26);

}
.pokemon-archive{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #edbe02;
    margin-bottom: 10px;
}

.lucky-pokemon{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #2A6DB7;
    padding-bottom: 0px;
}

.my-footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    width: 100%;
    height: 20px;
}